@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --input-bg: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background: rgba(248, 249, 250, 1);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
// Input
.mantine-Input-input {
    &:disabled {
        background-color: transparent !important;
        color: var(--mantine-color-gray-6) !important;
    }
}
// Button
.mantine-Button-root {
    &[data-variant="gradient"] {
        background: linear-gradient(45deg, var(--mantine-color-white) 0%, #EAEAEA 100%);
        color: var(--mantine-color-black);
        border: 0.5px solid var(--mantine-color-black);
    }
}
// Modal
.mantine-Modal-header {
    border-bottom: 1px solid var(--mantine-color-gray-3);
    padding: 2rem;
    margin-bottom: 2rem;

    .mantine-CloseButton-root {
        transform: scale(1.25);
    }
}
.mantine-Modal-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
// Loader
.mantine-Loader-root {
    --loader-color: #242425;

    &:after {
        border-color: var(--loader-color) rgba(36, 36, 37, .1) rgba(36, 36, 37, .1) rgba(36, 36, 37, .1);
    }
}
// Tabs
.mantine-Tabs-tab {
    &[data-active="true"] {
        border-color: var(--mantine-color-black);
    }
}
// Multiselect
.mantine-MultiSelect-pill {
    border-radius: var(--mantine-radius-xs);
    text-transform: uppercase;
    background-color: rgba(36, 36, 37, 0.06);
}
