.sticky {
    @media (max-width: 710px) {
        position: sticky;
        right: 0;
        z-index: 2;
        background-color: #fff;
        border-left: 1px solid var(--table-border-color);
        box-shadow: -4px 0 13px 0px var(--table-border-color);
    }
}
