.button {
    border: 1px solid var(--mantine-color-flare-6);
    border-radius: var(--mantine-radius-xl);
    transition: color 250ms ease-in-out,background-color 250ms ease-in-out;
    background: transparent;
    cursor: pointer;

    &.isActive {
        background-color: var(--mantine-color-flare-6) !important;

        p {
            color: var(--mantine-color-white) !important;
        }
    }
    &:hover {
        border-color: #E62058 !important;
        background-color: transparent !important;
        color: #E62058 !important;

        p {
            transition: color 250ms ease-in-out,background-color 250ms ease-in-out;
            color: #E62058 !important;
        }
    }
}
